useDynLib(BreedingR, .registration = TRUE)

export(pedigree)
export(a_inverse)
export(associative_matrix)
export(inv_pd)
export(br_version)
export(sparse_chol)
export(selected_inverse)
export(sparse_solve)
export(model)
export(gibbs)
export(snp_effects)
export(snp_blup)
export(read_plink)
export(qc_genotypes)
export(qc_phenotypes)
export(simulate_breeding)
export(competition_strength)
export(se_function)
export(profile_theta)
export(thi)
export(heat_load)
export(selection_index)
export(rank_drift)
export(mc_study)
export(suggest_model)
export(benchmark_fit)
export(ess)
export(geweke_z)
export(eval_internal)
export(ebv)
export(solutions)
export(h2)
export(a22_inverse)
export(legendre)
export(accuracy)
export(fst)
export(roh)
export(h2_curve)
export(apy_inverse)
export(vecchia_inverse)
export(model_mt)
export(eval_internal_mt)
export(rg)
export(model_ar1)
export(eval_internal_ar1)
export(model_threshold)
export(model_survival)
export(h2_observed)
export(h2_liability)
export(dominance_matrix)
export(g_matrix)
export(g_dominance)
export(g_epistasis)
export(g_epistasis_ad)
export(g_epistasis_dd)
export(g_epistasis_order)
export(genomic_inbreeding)
export(partial_a)
export(indirect_residual)
S3method(print, breeding_indirect_residual)

S3method(print, breeding_fit_thr)
S3method(summary, breeding_fit_thr)
S3method(coef, breeding_fit_thr)
S3method(predict, breeding_fit_thr)
S3method(print, breeding_fit_surv)
S3method(summary, breeding_fit_surv)
S3method(coef, breeding_fit_surv)
S3method(predict, breeding_fit_surv)

S3method(print, breeding_fit_ar1)
S3method(summary, breeding_fit_ar1)
S3method(coef, breeding_fit_ar1)

S3method(print, breeding_fit_mt)
S3method(summary, breeding_fit_mt)
S3method(coef, breeding_fit_mt)
export(describe)

S3method(plot, breeding_fit)
S3method(print, br_describe)

importFrom(graphics, plot, hist, abline, grid)
importFrom(stats, sd, quantile, median)

S3method(print, breeding_snp)
S3method(print, breeding_snp_blup)
S3method(print, breeding_competition)
S3method(print, breeding_benchmark)
S3method(print, breeding_gibbs)
S3method(print, breeding_fit)
S3method(coef, breeding_fit)
S3method(summary, breeding_fit)
S3method(print, summary.breeding_fit)

S3method(print, br_pedigree)
